/* Accounts */

.font-opensans {
	font-family: 'Open Sans', Arial, sans-serif;
}

.nav-tabs .nav-link {
	border-top: 0px !important;
	border-left: 0px !important;
	border-right: 0px !important;
	border-bottom: 2px solid transparent;
	border-radius: 0;
	font-size: 15px;
}

.nav-tabs .nav-link.active {
	border-bottom-color: black !important;
}

.accounts-icon {
	display:block;
}

.p-2 .account-head {
	margin: 0 !important;
	font-size: 15px;
}

.p-2 span {
	font-size:15px;
}